################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CarDiscounts/DesignTimeBuild
/.vs
/.CarDiscounts/obj
/.CarDiscountsCalculator/obj
/CarDiscountsCalculatorTests/bin/Debug/netcoreapp3.1
/CarDiscountsCalculatorTests/obj/Debug/netcoreapp3.1
/CarDiscountsCalculatorTests/obj
